// Colors
$purple: #7a325d
$primary: $purple
$black: #202020

.navbar-bg
  background-color: $black
  .nav
    background-color: $black
  .title
    color: #686868
    font-weight: 600


.inputText
  width: 500
  height: 200
  font-height: 1rem

